* 	{
  margin: 0;
  padding: 0;
}

body { 
	background-color: #ffffff; 
}

html {
  	font-size: 100%;
}
	

#header { 
 	padding: 0% 0% 2.5% 5%;
 	background: #000000;
 	margin: -1% 8% 0% 8%;
 	background-image: url(bille1.png);
 	background-repeat: no-repeat;
 	background-position: top right;
	}



#meny {
	margin: -1% 8% 5% 8%;
	padding:0% 0% 0% 2%;
	background: #000000;
	
	}

.menyenkelt { 
	     margin: 0% 0% 0% 0%;
	     padding:2% 3.5% 2% 3.5%;
	     background: #000000;
	     border: 2px solid black;
	     border-left: 0px solid black;
	     float: left;	
	     }	

	
#menyforst   {
	     
	     margin: 0% 0% 0% 0%;
	     padding:2% 3.5% 2% 3.5%;
	     background: #000000;
	     border: 2px solid black;
	     float: left;		
		
	      }
	
	

#skrift {
	margin: -3% 8% 0% 8%;
	padding: 4% 2% 0% 50%;
	background: #000000;	
	}

#innhold {
	border-bottom:0px solid #000000;	
	}	

#fontsizer {
	font-size:1.1em;
	margin-right:1em;
	text-align:right;
	vertical-align:bottom;
	}
 
#main { 
	margin: 0% 8% 0% 8%;
	padding: 2% 7% 20% 7%;
	background: #000000;	
	}

#undersider {
	margin: 0% 3% 2% 0%;
	padding: 2% 7% 2% 7%;
	font-size: 150%;
	border: 2px solid black;	
	}

	.under A:link {
	text-decoration: none;	
	}

.katogori {
	margin: 0% 0% 3% 0%;
	padding: 2% 2% 2% 2%;
	font-size: 150%;
	border: 2px solid black;
	}

.kat A:link {
	text-decoration: none;
	word-spacing:0.5em;
	}

#footer {
	margin: 0% 8% 2% 8%;
	padding:1% 5% 1% 5%;
	background: #000000;
	}

#validate { 
	padding: 0% 0% 0% 0%;
	margin: 1% 8% 0% 8%;
	}
 
p
	{
	font-family:Arial ,Georgia, sans-serif;
	color: #FFFF00;
	font-size: 150%;
	}

h1  { 
	padding: 5% 0% 0% 0%;
   	color: #FFFF01;
	font-family:"Courier New", Courier New, monospace;
	font-size: 300%;	
}
h2  {
	color: #FFFF02;
	font-family:Arial ,Georgia, sans-serif;
	font-size: 200%;
	padding: 0% 0% 3% 0%;
	text-decoration: underline;	
}
h3  {
	color: #FFFF03;
	font-family:Arial ,Georgia, sans-serif;
	font-size: 150%;
	padding: 0% 0% 5% 0%;
}
h4  {
	color: #000000;
	font-family:Arial ,Georgia, sans-serif;
	font-size: 75%;
}
h5  {
	color: #FFFF05;
	font-family:Arial ,Georgia, sans-serif;
	font-size: 100%;
	padding: 0% 0% 0% 0%;
}	
	
a{
	font-family:Georgia, Georgia, serif;
	color: #FFFF00;
	text-shadow: 0em 0.2em 0.3em #888888;
}


.meny1 A:link {
text-decoration: none;
color: #ffff00;
}


.meny2 A:visited {
text-decoration: none;
color: #ffff00;
}

.meny3 a:hover {
color:#ff0000;
}


A:link {
color: #ffff00;
}

A:visited {
color: #ffff00;
}

a:hover {
color:#ffffff;
}
