* 	{
  margin: 0;
  padding: 0;
  }

body { 
	background-color: #000000; 
	}

html {
  	font-size: 100%;
	}

#container {
		padding: 0% 0% 0% 0%;
		margin: -1% 8% 2% 8%;
		background: #ffffff;
		}
	
	

#header { 
 	padding: 0% 0% 2.5% 5%;
 	background: #ffffff;
 	margin: 1% 0% 0% 0%;
 	background-image: url(pencil1.gif);
 	background-repeat: no-repeat;
 	background-position: top right;
	}



#meny {
margin: 0% 0% 1% 0%;
padding:1% 0% 1% 3%;
background: #0099cc;
}

#linkboks {
margin: 0% 0% 0% 0%;
padding:0% 0% 0% 0%;
background: #000000;
}


#skrift {
padding-top:0%;	
padding-right:0%;	
padding-bottom:0%;	
padding-left:90%;	
}

#innhold {
border-bottom:1px solid #000000;	
}
	

#fontsizer {
font-size:1.1em;
margin-right:1em;
text-align:right;
vertical-align:bottom;
}

 
#main { 
	margin: 0% 0% 30% 0%;
	padding: 0% 7% 0% 7%;
	}

#footer {
	
	margin: 0% 0% 0% 0%;
	padding:1% 5% 1% 5%;
	background: #0099cc;
	}

#validate { 
	padding: 0% 0% 0% 0%;
	margin: 1% 8% 0% 8%;
	
}
 
p
{
font-family:Arial ,Georgia, sans-serif;
font-size: 150%;
}


h1 { 
	padding: 5% 0% 0% 0%;
   	color: #000099;
	font-family:Arial ,Georgia, sans-serif;
	font-size: 300%;	
	}


h2 {
	color: #000066;
	font-family:Arial ,Georgia, sans-serif;
	font-size: 200%;
	padding: 0% 0% 3% 0%;
	text-decoration: underline;	
	}

h3 {
	color: #000010;
	font-family:Arial ,Georgia, sans-serif;
	font-size: 150%;
	padding: 0% 0% 5% 0%;
	}
h4 {
	color: #FFFFFF;
	font-family:Arial ,Georgia, sans-serif;
	font-size: 75%;
	}

h5 {
	color: #000001;
	font-family:Arial ,Georgia, sans-serif;
	font-size: 100%;
	padding: 0% 0% 0% 0%;
	}	
	
	
	
a{
	font-family:Georgia, Georgia, serif;
	color: #ffffff;
	text-shadow: 0em 0.2em 0.3em #888888;
	}


.meny1 A:link {
text-decoration: none;
color: #ffffff;
}


.meny2 A:visited {
text-decoration: none;
color: #ffffff;
}

.meny3 a:hover {
      color:#ff0000;
   }



A:link {

color: #0000ff;
}

A:visited {

color: #0000ff;
}



a:hover {
      color:#ff0000;
   }
